<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<true/>
					<key>File References</key>
					<array>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vawQEAAAAAAQQMAAA
							AKA82Umpw0+MHjFwK6N/
							IW/YmtFm+84EBdhfCVTW
							XxtT9AIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGRh
							dmlkY2FydGVyAAcAAAAB
							AQAARGVza3RvcAANAAAA
							AQEAAExhbWJkYSBTY2hv
							b2wAAAASAAAAAQEAAEdy
							ZWF0IElkZWEgU2Vydmlj
							ZQAABwAAAAEBAABpbWct
							b2xkABUAAAABAQAAVUkt
							SUlJLUZsZXhib3gtbWFz
							dGVyAAAACgAAAAEBAABn
							cmVhdC1pZGVhAAADAAAA
							AQEAAGNzcwAJAAAAAQEA
							AGluZGV4LmNzcwAAACgA
							AAABBgAAEAAAACAAAAA0
							AAAARAAAAFwAAAB4AAAA
							iAAAAKgAAAC8AAAAyAAA
							AAgAAAAEAwAA4cYEAAAA
							AAAIAAAABAMAACFIKgAC
							AAAACAAAAAQDAAA4SCoA
							AgAAAAgAAAAEAwAAbmd2
							AAIAAAAIAAAABAMAAGtq
							sQACAAAACAAAAAQDAAA5
							HLIAAgAAAAgAAAAEAwAA
							CCayAAIAAAAIAAAABAMA
							AA4msgACAAAACAAAAAQD
							AAAPJrIAAgAAAAgAAAAE
							AwAAECayAAIAAAAoAAAA
							AQYAAAwBAAAcAQAALAEA
							ADwBAABMAQAAXAEAAGwB
							AAB8AQAAjAEAAJwBAAAI
							AAAAAAQAAEHBClpRAAAA
							GAAAAAECAAABAAAAAAAA
							AA8AAAAAAAAAAAAAAAAA
							AAAIAAAABAMAAAgAAAAA
							AAAABAAAAAMDAAD2AQAA
							CAAAAAEJAABmaWxlOi8v
							LwMAAAABAQAATWFjAAgA
							AAAEAwAAAMDsu28AAAAI
							AAAAAAQAAEG8lV+lAAAA
							JAAAAAEBAAA0OTMzMjcy
							Ni02MEJDLTNGMkEtOUYz
							MS00QjUwQjY5RDlBN0YY
							AAAAAQIAAIEAAAABAAAA
							7xMAAAEAAAAAAAAAAAAA
							AAEAAAABAQAALwAAAAAA
							AAABBQAAGgAAAAEBAABO
							U1VSTERvY3VtZW50SWRl
							bnRpZmllcktleQAABAAA
							AAMDAACdLgAA2AAAAP7/
							//8BAAAAAAAAABEAAAAE
							EAAA3AAAAAAAAAAFEAAA
							rAEAAAAAAAAQEAAA7AEA
							AAAAAABAEAAA3AEAAAAA
							AAACIAAAsAIAAAAAAAAF
							IAAAKAIAAAAAAAAQIAAA
							OAIAAAAAAAARIAAAZAIA
							AAAAAAASIAAARAIAAAAA
							AAATIAAAVAIAAAAAAAAg
							IAAAkAIAAAAAAAAwIAAA
							vAIAAAAAAAABwAAADAIA
							AAAAAAARwAAAIAAAAAAA
							AAASwAAAHAIAAAAAAAAQ
							0AAABAAAAAAAAADEAgCA
							6AIAAAAAAAA=
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/davidcarter/Desktop/Lambda School/Great Idea Service/img-old/UI-III-Flexbox-master/great-idea/css/index.css</string>
							<key>identifier</key>
							<string>A851CA4B-186D-4716-8491-FD146F5E7E31</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vaxgDAAAAAAQQMAAA
							AGx1Ym20A/4w+5H0A2iy
							aZdoxWNOThRhgFGpnLSk
							GLUlFAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGRh
							dmlkY2FydGVyAB0AAAAB
							AQAAU3ByaW50IENoYWxs
							ZW5nZSBVUyBJbnRlcmZh
							Y2UAAAAnAAAAAQEAAFNw
							cmludC1DaGFsbGVuZ2Ut
							LVVzZXItSW50ZXJmYWNl
							LW1hc3RlcgAOAAAAAQEA
							AGFib3V0d2tjcC5odG1s
							AAAUAAAAAQYAABAAAAAg
							AAAANAAAAFwAAACMAAAA
							CAAAAAQDAADhxgQAAAAA
							AAgAAAAEAwAAIUgqAAIA
							AAAIAAAABAMAADUrtAAC
							AAAACAAAAAQDAAD9K7QA
							AgAAAAgAAAAEAwAAtC20
							AAIAAAAUAAAAAQYAAMAA
							AADQAAAA4AAAAPAAAAAA
							AQAACAAAAAAEAABBwRmu
							PFAf8RgAAAABAgAAAQAA
							AAAAAAAPAAAAAAAAAAAA
							AAAAAAAACAAAAAQDAAAD
							AAAAAAAAAAQAAAADAwAA
							9gEAAAgAAAABCQAAZmls
							ZTovLy8DAAAAAQEAAE1h
							YwAIAAAABAMAAADA7Ltv
							AAAACAAAAAAEAABBvJVf
							pQAAACQAAAABAQAANDkz
							MzI3MjYtNjBCQy0zRjJB
							LTlGMzEtNEI1MEI2OUQ5
							QTdGGAAAAAECAACBAAAA
							AQAAAO8TAAABAAAAAAAA
							AAAAAAABAAAAAQEAAC8A
							AAAAAAAAAQUAAMwAAAD+
							////AQAAAAAAAAAQAAAA
							BBAAAKQAAAAAAAAABRAA
							ABABAAAAAAAAEBAAADwB
							AAAAAAAAQBAAACwBAAAA
							AAAAAiAAAAACAAAAAAAA
							BSAAAHgBAAAAAAAAECAA
							AIgBAAAAAAAAESAAALQB
							AAAAAAAAEiAAAJQBAAAA
							AAAAEyAAAKQBAAAAAAAA
							ICAAAOABAAAAAAAAMCAA
							AAwCAAAAAAAAAcAAAFwB
							AAAAAAAAEcAAACAAAAAA
							AAAAEsAAAGwBAAAAAAAA
							ENAAAAQAAAAAAAAA
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/davidcarter/Sprint Challenge US Interface/Sprint-Challenge--User-Interface-master/aboutwkcp.html</string>
							<key>identifier</key>
							<string>5DAF446C-13F9-433F-836C-79C3A636F9A8</string>
						</dict>
						<dict>
							<key>bookmarkData</key>
							<data>
							Ym9vaxgDAAAAAAQQMAAA
							AClMLI7gfXC0miKwW0P8
							AneUo68Y7DgYss1UJ3bt
							9vkgFAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGRh
							dmlkY2FydGVyAB0AAAAB
							AQAAU3ByaW50IENoYWxs
							ZW5nZSBVUyBJbnRlcmZh
							Y2UAAAAnAAAAAQEAAFNw
							cmludC1DaGFsbGVuZ2Ut
							LVVzZXItSW50ZXJmYWNl
							LW1hc3RlcgAOAAAAAQEA
							AGluZGV4d2tjcC5odG1s
							AAAUAAAAAQYAABAAAAAg
							AAAANAAAAFwAAACMAAAA
							CAAAAAQDAADhxgQAAAAA
							AAgAAAAEAwAAIUgqAAIA
							AAAIAAAABAMAADUrtAAC
							AAAACAAAAAQDAAD9K7QA
							AgAAAAgAAAAEAwAAlC20
							AAIAAAAUAAAAAQYAAMAA
							AADQAAAA4AAAAPAAAAAA
							AQAACAAAAAAEAABBwRmu
							LJKrwRgAAAABAgAAAQAA
							AAAAAAAPAAAAAAAAAAAA
							AAAAAAAACAAAAAQDAAAD
							AAAAAAAAAAQAAAADAwAA
							9gEAAAgAAAABCQAAZmls
							ZTovLy8DAAAAAQEAAE1h
							YwAIAAAABAMAAADA7Ltv
							AAAACAAAAAAEAABBvJVf
							pQAAACQAAAABAQAANDkz
							MzI3MjYtNjBCQy0zRjJB
							LTlGMzEtNEI1MEI2OUQ5
							QTdGGAAAAAECAACBAAAA
							AQAAAO8TAAABAAAAAAAA
							AAAAAAABAAAAAQEAAC8A
							AAAAAAAAAQUAAMwAAAD+
							////AQAAAAAAAAAQAAAA
							BBAAAKQAAAAAAAAABRAA
							ABABAAAAAAAAEBAAADwB
							AAAAAAAAQBAAACwBAAAA
							AAAAAiAAAAACAAAAAAAA
							BSAAAHgBAAAAAAAAECAA
							AIgBAAAAAAAAESAAALQB
							AAAAAAAAEiAAAJQBAAAA
							AAAAEyAAAKQBAAAAAAAA
							ICAAAOABAAAAAAAAMCAA
							AAwCAAAAAAAAAcAAAFwB
							AAAAAAAAEcAAACAAAAAA
							AAAAEsAAAGwBAAAAAAAA
							ENAAAAQAAAAAAAAA
							</data>
							<key>clientIdentifier</key>
							<string>document</string>
							<key>fullPath</key>
							<string>/Users/davidcarter/Sprint Challenge US Interface/Sprint-Challenge--User-Interface-master/indexwkcp.html</string>
							<key>identifier</key>
							<string>0BD717FC-149F-4111-BD91-94CA8002250A</string>
						</dict>
					</array>
				</dict>
				<key>Minimum Application Version</key>
				<string>6.0</string>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGq6xYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QJAcIExQVHyU1
				Njc4P0hJSktUVVZXW2Vpc3t+goeNkpWZnqGlqVUkbnVs
				bNMJCgsMDxJXTlMua2V5c1pOUy5vYmplY3RzViRjbGFz
				c6INDoACgAOiEBGABIAagCNYZGF0YWJhc2VUbm9kZdUL
				FhcYGRobHB0eXklkZW50aWZpZXIgTWFwWFBhZ2UgTWFw
				WE5vZGUgTWFwWVJlc291cmNlc4AigBSAIYAWgAXSCgsg
				JKMhIiOABoALgA+AE9gmCycoKSorLC0uLy8xMi80V0No
				YW5nZWRcUHVibGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVU
				TmFtZVpJZGVudGlmaWVyWVRpbWVTdGFtcFlGaWxlVG9r
				ZW4JgAqAAIAAgAiAB4AAgAlfECRENzI5MTg1MC1ENjlD
				LTQxNkUtQjhGQi0yNkJCNDBCMTgwRjZeaW5kZXh3a2Nw
				Lmh0bWxfECQwQkQ3MTdGQy0xNDlGLTQxMTEtQkQ5MS05
				NENBODAwMjI1MEHSOTo7PFokY2xhc3NuYW1lWCRjbGFz
				c2VzXlJXU2l0ZVJlc291cmNloj0+XlJXU2l0ZVJlc291
				cmNlWE5TT2JqZWN02CYLJygpKissLS4vL0RFL0cJgAqA
				AIAAgA2ADIAAgA5fECRDQUQ2MkMyRC0xMDRGLTQ4Nzgt
				OTgyRC1BMzYyOEM2RDI0QkFeYWJvdXR3a2NwLmh0bWxf
				ECQ1REFGNDQ2Qy0xM0Y5LTQzM0YtODM2Qy03OUMzQTYz
				NkY5QTjYJgsnKCkqKywtLi8vUFEvUwmACoAAgACAEYAQ
				gACAEl8QJDY3MkI1MTYwLTk0QUItNEY1MS1CNTFGLUJD
				MUUxNDhGNDFFQ1lpbmRleC5jc3NfECRBODUxQ0E0Qi0x
				ODZELTQ3MTYtODQ5MS1GRDE0NkY1RTdFMzHSOTpYWVxO
				U011dGFibGVTZXSjWFo+VU5TU2V00wkKC1xgZKMyUUWA
				B4AQgAyjISMigAaAD4ALgBXSOTpmZ18QE05TTXV0YWJs
				ZURpY3Rpb25hcnmjZmg+XE5TRGljdGlvbmFyedMJCgtq
				bmSjMlFFgAeAEIAMo29wcYAXgByAH4AV1At0dXZ3eBEh
				WENoaWxkcmVuVlBhcmVudF8QElJlcHJlc2VudGVkIE9i
				amVjdIAegBiAGoAG0goLfH2ggBnSOTp/gF5OU011dGFi
				bGVBcnJheaN/gT5XTlNBcnJhedQLdHV2d4QvL4AegBuA
				AIAA0goLiH2jcHFvgByAH4AXgBnUC3R1dnePESOAHoAd
				gBqAD9IKC5N9oIAZ0jk6lpdfEBBSV1NvdXJjZUxpc3RO
				b2Rlopg+XxAQUldTb3VyY2VMaXN0Tm9kZdQLdHV2d5sR
				IoAegCCAGoAL0goLn32ggBnTCQoLoqNkoKCAFdI5Oqan
				XxASUldSZXNvdXJjZURhdGFiYXNloqg+XxASUldSZXNv
				dXJjZURhdGFiYXNl0jk6aKqiaD5fEA9OU0tleWVkQXJj
				aGl2ZXLRra5Ucm9vdIABAAgAEQAaACMALQAyADcAXgBk
				AGsAcwB+AIUAiACKAIwAjwCRAJMAlQCeAKMArgC9AMYA
				zwDZANsA3QDfAOEA4wDoAOwA7gDwAPIA9AEFAQ0BGgEo
				AS0BOAFCAUwBTQFPAVEBUwFVAVcBWQFbAYIBkQG4Ab0B
				yAHRAeAB4wHyAfsCDAINAg8CEQITAhUCFwIZAhsCQgJR
				AngCiQKKAowCjgKQApIClAKWApgCvwLJAvAC9QMCAwYD
				DAMTAxcDGQMbAx0DIQMjAyUDJwMpAy4DRANIA1UDXANg
				A2IDZANmA2oDbANuA3ADcgN7A4QDiwOgA6IDpAOmA6gD
				rQOuA7ADtQPEA8gD0APZA9sD3QPfA+ED5gPqA+wD7gPw
				A/ID+wP9A/8EAQQDBAgECQQLBBAEIwQmBDkEQgREBEYE
				SARKBE8EUARSBFkEWgRbBF0EYgR3BHoEjwSUBJcEqQSs
				BLEAAAAAAAACAQAAAAAAAACvAAAAAAAAAAAAAAAAAAAE
				sw==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2019 David Carter</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Veerle</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>QuickLook</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
